* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

:root {
  --toast-success: #0abf30;
  --toast-error: #e24d4c;
  --toast-warning: #e9db0c;
  --toast-info: #3498db;
}